<h2><%= i18n.__("login") %>/<%= i18n.__("register") %></h2>
<div class="tab">
  <button class="tablinks active" onclick="openCity(event, 'login')">
    <%= i18n.__("login") %>
  </button>
  <button class="tablinks" onclick="openCity(event, 'register')">
    <%= i18n.__("register") %>
  </button>
</div>

<div id="login" style="display: block" class="tabcontent">
  <h3><%= i18n.__("login") %></h3>
  <%-include('login') %>
</div>

<div id="register" class="tabcontent">
  <h3><%= i18n.__("register") %></h3>
  <%-include('register') %>
</div>
<%-include('../messages') %>
<script>
  function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
  }
</script>
